/* Diseño extra para el index.html */
section p {
  color: #333;
}

/* Para los párrafos inmediatamente después de un h2 */
h2 + p {
  font-weight: bold;
  color: #246b45;
}
/* Todos los párrafos que siguen a un h3 */
h3 ~ p {
  color: darkblue;
}

/* ENLACES */
a[href^="https"] {
  color: #a1067a;
}
/* Enlaces interactivos */
a:hover {
  background-color: lightpink;
}

a:active {
  color: darkblue;
}

/* Primera letra de cada párrafo principal */
section p::first-letter {
  font-size: 1.2rem;
  color: #a1067a;
  font-weight: bold;
}
/* Línea inicial de los párrafos */
section p::first-line {
  text-decoration: underline;
}
