
/* Selectores de atributo: inputs por tipo */
input[type="text"],
input[type="email"] {
  border: 2px solid #a1067a;
}

input[type="radio"] {
  accent-color: #a1067a;
}

/* foco */
input:focus,
textarea:focus {
  border-color: #246b45;
  outline: none;
  background-color: #f0fff4;
}

/* Alternar el fondo */
fieldset label:nth-child(odd) {
  background-color: #ffe4fb;
  border-radius: 6px;
  padding: 2px;
}

fieldset label:nth-child(even) {
  background-color: white;
  border-radius: 6px;
  padding: 2px;
}

/* Primera letra del párrafo principal */
section p::first-letter {
  font-size: 1.2rem;
  font-weight: bold;
  color: darkred;
}

/* Línea inicial subrayada */
section p::first-line {
  text-decoration: underline;
}

/* Antes y después del título principal */
h2::before {
  content: "💬 ";
}

h2::after {
  content: " 💬";
}

/* Ícono decorativ */
label[for="comentario"]::before {
  content: "🖊️ ";
}

/* Marca decorativa al final del formulario */
form::after {
  content: " ✔ Gracias por tu opinión";
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #246b45;
  font-weight: bold;
}